<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-indigo-100 via-white to-purple-100 p-6"
>
  @if (isLoginMode) {
    <mat-card class="main-card w-full max-w-md rounded-3xl shadow-2xl p-8">
      <div class="flex flex-col items-center mb-8">
        <div class="w-20 h-20 rounded-full bg-white flex items-center justify-center mb-4">
          <mat-icon class="text-white text-4xl">person</mat-icon>
        </div>

        <h1 class="text-3xl font-bold">Welcome Back</h1>

        <p class="text-gray-500 mt-2">Sign in to continue</p>
      </div>

      <form [formGroup]="loginForm" class="flex flex-col gap-5">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>

          <mat-icon matPrefix>person</mat-icon>

          <input
            matInput
            formControlName="userName"
            placeholder="Enter username"
            (input)="
              loginForm
                .get('userName')
                ?.setValue($any($event.target).value.toUpperCase(), { emitEvent: false })
            "
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>

          <mat-icon matPrefix>lock</mat-icon>

          <input matInput type="password" formControlName="password" placeholder="Enter password" />
        </mat-form-field>
        <button
          mat-raised-button
          color="primary"
          class="h-12 rounded-xl mt-2"
          [disabled]="loading"
          (click)="login()"
        >
          @if (loading) {
            <mat-spinner diameter="20"> </mat-spinner>
          } @else {
            <span> Login </span>
          }
        </button>
      </form>

      <div class="text-center mt-6 text-sm text-gray-500">
        Don't have an account?

        <a
          class="text-indigo-600 font-semibold cursor-pointer hover:underline"
          (click)="toggleLogin()"
        >
          Register
        </a>
      </div>
    </mat-card>
  } @else {
    <mat-card class="main-card w-full max-w-md rounded-3xl shadow-2xl p-8">
      <div class="flex flex-col items-center mb-8">
        <div class="w-20 h-20 rounded-full bg-white flex items-center justify-center mb-4">
          <mat-icon class="text-white text-4xl">person</mat-icon>
        </div>

        <h1 class="text-3xl font-bold">Welcome</h1>

        <p class="text-gray-500 mt-2">Create new account to continue</p>
      </div>

      <form [formGroup]="loginForm" class="flex flex-col gap-5">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>

          <mat-icon matPrefix>person</mat-icon>

          <input
            matInput
            formControlName="userName"
            placeholder="Enter username"
            (input)="
              loginForm
                .get('userName')
                ?.setValue($any($event.target).value.toUpperCase(), { emitEvent: false })
            "
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>

          <mat-icon matPrefix>lock</mat-icon>

          <input matInput type="password" formControlName="password" placeholder="Enter password" />
        </mat-form-field>

        <button mat-raised-button color="primary" class="h-12 rounded-xl mt-2" (click)="register()">
          Register
        </button>
      </form>

      <div class="text-center mt-6 text-sm text-gray-500">
        Already have an account?

        <a
          class="text-indigo-600 font-semibold cursor-pointer hover:underline"
          (click)="toggleLogin()"
        >
          Login
        </a>
      </div>
    </mat-card>
  }
</div>
